use=web, web=dynamicdns.park-your-domain.com/getip  \
protocol=namecheap                                  \
server=dynamicdns.park-your-domain.com              \
login=cabsav.site                                   \
password=ed159595820a4337b7dcd30a8dd63979           \
@

use=web, web=dynamicdns.park-your-domain.com/getip  \
protocol=namecheap                                  \
server=dynamicdns.park-your-domain.com              \
login=redhaus.site                                  \
password=563d2f1b6c6c41e599cdab6e2b987f5a           \
@
 
use=web, web=dynamicdns.park-your-domain.com/getip  \
protocol=namecheap                                  \
server=dynamicdns.park-your-domain.com              \
login=spooky.hiphop                                 \
password=b75569a931584284b8bdd3790a81bca2           \
@
